@model IEnumerable<RetailHours.Models.tblRtlHour>

@{
    ViewBag.Title = "Retail Hours";
}

<h2>&nbsp;</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeekdayHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeekendHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeekdayHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeekendHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.HoursID })
                @*@Html.ActionLink("Details", "Details", new { id=item.HoursID }) |*@
                @*@Html.ActionLink("Delete", "Delete", new { id=item.HoursID })*@
            </td>
        </tr>
    }

</table>
