@model RetailHoursMVC.Models.tblRtlHour

@{
    ViewBag.Title = "Details";
}

<h3>Details</h3>

<div>
    <h4>Retail Hours</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeekdayHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeekdayHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeekendHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeekendHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FromDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HoursID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
